<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.qingyun.mybatis.dao.AuthRoleMapper">

    <select id="listAdminHDPage" parameterType="java.util.Map" resultType="com.qingyun.mybatis.model.AuthRole">
        SELECT id,name,status,remark,create_time createTime,listorder
        FROM auth_role
        <where>
            <if test="authRoleQueryForm.status != null">
                AND status = #{authRoleQueryForm.status}
            </if>
            <if test="authRoleQueryForm.name != null and '' != authRoleQueryForm.name">
                AND `name` LIKE CONCAT(#{authRoleQueryForm.name},'%')
            </if>
        </where>
    </select>

    <select id="listAuthAdminRoleHDPage" resultType="com.qingyun.mybatis.model.AuthRole">
        SELECT id,name
        FROM auth_role
        WHERE id != 1
            <if test="status != null">
                AND status = #{status}
            </if>
    </select>

    <select id="findByName" resultType="com.qingyun.mybatis.model.AuthRole">
        SELECT id
        FROM auth_role
        where `name` = #{name}
    </select>


    <insert id="insertAuthRole" keyProperty="id" parameterType="com.qingyun.mybatis.model.AuthRole">
        INSERT INTO auth_role(`name`,pid,`status`,`remark`,`listorder`,create_time,update_time)
        values
        (
        #{name},
        <choose>
            <when test="pid != null">
                #{pid},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        #{status},
        <choose>
            <when test="remark != null and remark != ''">
                #{remark},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="listorder != null">
                #{listorder},
            </when>
            <otherwise>
                999,
            </otherwise>
        </choose>
        #{createTime},
        #{updateTime}
        )
    </insert>

    <update id="updateAuthRole" parameterType="com.qingyun.mybatis.model.AuthRole">
        UPDATE auth_role
        <set>
            <if test="name != null">`name`=#{name},</if>
            <if test="pid != null">pid=#{pid},</if>
            <if test="status != null">`status`=#{status},</if>
            <if test="remark != null">remark=#{remark},</if>
            <if test="listorder != null">`listorder`=#{listorder},</if>
            <if test="updateTime != null">update_time=#{updateTime},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from auth_role where id = #{id}
    </delete>

</mapper>